<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urban Mart - Home</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
	<script th:src="@{/js/script.js}"></script>
	
    <!-- Custom CSS -->
	<link rel="stylesheet" th:href="@{/css/web.css}"
	<script src="cart.js"></script>

</head>

<body>
	<script src="js/cart.js"></script>
	<!-- Navbar starts here -->
	     
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <div class="container-fluid">
	    <a class="navbar-brand" href="#">Urban Mart</a>
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarSupportedContent">
	      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
	        <li class="nav-item">
	          <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" th:href="@{/shop}">Shop</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" th:href="@{/cart}">Cart</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" th:href="@{/categories}">Categories</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" th:href="@{/about}">About</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" th:href="@{/contact}">Contact</a>
	        </li>
	      </ul>
	      <form class="d-flex">
	        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
	        <button class="btn btn-outline-success" type="submit">Go</button>
	      </form>
	    </div>
	  </div>
	</nav>


<!---Add the page Heading-->

<section class="container mt-5 pt-5">

    <h1 class="text-center fw-bold">Our Products</h1>

    <p class="text-center text-muted">
        Browse our latest collection at the best prices.
    </p>

</section>

<!---Add Search Bar-->
<div class="container my-4">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <input type="text"
                   class="form-control"
                   placeholder="Search Products...">

        </div>

    </div>

</div>
<!---Product Grid-->

<section class="container my-5">

    <h2 class="text-center mb-5">Featured Categories</h2>

    <div class="row">

        <div class="col-md-3">
            <div class="card text-center shadow">
				<img th:src="@{/images/Headphones.jpeg}" class="card-img-top" alt="Headphones">
                <div class="card-body">
                    <h5>Head Phones</h5>
                    <p class="text-primary fw-bold">₹4,999</p>
                    <p>⭐⭐⭐⭐⭐</p>
					<button class="btn btn-primary"
					onclick="addToCart('Headphones', 4999, 'images/Headphones.jpeg')">
					Add to Cart
					</button>
                  
 
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-center shadow">
				<img th:src="@{/images/Shoe.jpeg}" class="card-img-top" alt="Shoes">
                <div class="card-body">
                    <h5>shoe</h5>
                    <p class="text-primary fw-bold">₹799</p>
                    <p>⭐⭐⭐⭐⭐</p>
					<button class="btn btn-primary"
										onclick="addToCart('Shoe', 799, 'images/Shoe.jpeg')">
										Add to Cart
										</button>
                    
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-center shadow">
				<img th:src="@{/images/Smartwatch.jpeg}" class="card-img-top" alt="Smartwatch">
           
                <div class="card-body">
                    <h5>Smart Watch</h5>
                    <p class="text-primary fw-bold">₹499</p>
                    <p>⭐⭐⭐⭐⭐</p>
					<button class="btn btn-primary"
										onclick="addToCart('Smartwatch', 499, 'images/Smartwatch.jpeg')">
										Add to Cart
										</button>
                    
 
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-center shadow">
				<img th:src="@{/images/Backpack.jpeg}" class="card-img-top" alt="Backpack">
               
                <div class="card-body">
                    <h5>Back Pack</h5>
                    <p class="text-primary fw-bold">₹999</p>
                    <p>⭐⭐⭐⭐⭐</p>
					<button class="btn btn-primary"
										onclick="addToCart('Back Pack', 999, 'images/Backpack.jpeg')">
										Add to Cart
										</button>
                   
                </div>
            </div>
        </div>

    </div>

</section>
<section class="container my-5">

    <h2 class="text-center mb-5">Featured Categories</h2>

    <div class="row">

        <div class="col-md-3">
            <div class="card text-center shadow">
				<img th:src="@{/images/Laptop.jpeg}" class="card-img-top" alt="Laptop">
               
                <div class="card-body">
                    <h5>Laptop</h5>
                    <p class="text-primary fw-bold">₹28,999</p>
                    <p>⭐⭐⭐⭐⭐</p>
					<button class="btn btn-primary"
										onclick="addToCart('Laptop', 28999, 'images/Laptop.jpeg')">
										Add to Cart
										</button>
                  
 
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-center shadow">
				<img th:src="@{/images/Smartphone.jpeg}" class="card-img-top" alt="Smartphone">
                
                <div class="card-body">
                    <h5>Smart Phone</h5>
                    <p class="text-primary fw-bold">₹15,999</p>
                    <p>⭐⭐⭐⭐⭐</p>
					<button class="btn btn-primary"
										onclick="addToCart('Smart Phone', 15999, 'images/Smartphone.jpeg')">
										Add to Cart
										</button>
                   
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-center shadow">
				<img th:src="@{/images/Tshirt.jpeg}" class="card-img-top" alt="Tshirt">
                
                <div class="card-body">
                    <h5>Tshirt</h5>
                    <p class="text-primary fw-bold">₹599</p>
                    <p>⭐⭐⭐⭐⭐</p>
					<button class="btn btn-primary"
										onclick="addToCart('Tshirt', 4999, 'images/Tshirt.jpeg')">
										Add to Cart
										</button>
                    
 
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-center shadow">
				<img th:src="@{/images/Handbag.jpeg}" class="card-img-top" alt="Handbag">
                
                <div class="card-body">
                    <h5>Hand Bag</h5>
                    <p class="text-primary fw-bold">₹1,999</p>
                    <p>⭐⭐⭐⭐⭐</p>
					<button class="btn btn-primary"
										onclick="addToCart('Handbag', 4999, 'images/Hand Bag.jpeg')">
										Add to Cart
										</button>
                    
 
                </div>
            </div>
        </div>

    </div>

</section>

<!--Pagination-->
<nav>

<ul class="pagination justify-content-center">

<li class="page-item">
<a class="page-link" th:href="@{#}">Previous</a>
</li>

<li class="page-item active">
<a class="page-link" th:href="@{#}">1</a>
</li>

<li class="page-item">
<a class="page-link" th:href="@{#}">2</a>
</li>

<li class="page-item">
<a class="page-link" th:href="@{#}">3</a>
</li>

<li class="page-item">
<a class="page-link" th:href="@{#}">Next</a>
</li>

</ul>

</nav>


<!--Footer-->

<footer class="bg-dark text-white pt-5 pb-3">

    <div class="container">

        <div class="row">

            <div class="col-md-4">
                <h4>NovaStore</h4>
                <p>Your one-stop destination for fashion, electronics, shoes, and more.</p>
            </div>

            <div class="col-md-2">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a th:href="@{/}" class="text-white text-decoration-none">Home</a></li>
                    <li><a th:href="@{/shop}" class="text-white text-decoration-none">Shop</a></li>
                    <li><a th:href="@{/about}" class="text-white text-decoration-none">About</a></li>
                    <li><a th:href="@{/contact}" class="text-white text-decoration-none">Contact</a></li>
                </ul>
            </div>

            <div class="col-md-3">
                <h5>Contact</h5>
                <p>Email: support@novastore.com</p>
                <p>Phone: +91 98765 43210</p>
            </div>

            <div class="col-md-3">
                <h5>Follow Us</h5>
                <p>Facebook | Instagram | X | LinkedIn</p>
            </div>

        </div>

        <hr>

        <p class="text-center mb-0">
            © 2026 NovaStore. All Rights Reserved.
        </p>

    </div>

</footer>

